@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudGrid>
    <MudItem xs="3">
        <NavMenu />
    </MudItem>
    <MudItem xs="9">
        <div>
            @Body
        </div>
    </MudItem>
</MudGrid>